<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/style.css" rel="stylesheet" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    <script>
      var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
      function deleteAppointment(id) {
          fetch(`/appointments/${id}/delete`, {
              method: "delete",
              headers: {"Content-Type":"application/json"},
              body: JSON.stringify({
                  "_csrf":token
              })
          }).then((res)=>{
              if (res.ok) {
                  window.location.reload();
              }
          }).catch((err)=> console.error(err))
      }
      function buttonClickFunc(){
    fetch(`/appointments`, {
        method: "post",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            buttonClicked: true,
            "_csrf": token
        })
        })
      }
  </script>
  <body >
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <h5 class="text-4xl flex items-center">Welcome <%= userName %></h5>
        <br>
        <a href="/signout" class="bg-red-600 text-white px-4 py-1 rounded font-medium mr-2 mb-2" > Signout</a>
        <br>
        <br>
        <p>Manage your appointments</p>
        <form action="/appointments" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
                <label for="title">Appointment :</label>
                <input
                  type="text"
                  name="title"
                  placeholder="Enter your appointment..."
                  class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
                  required
                />
              </div>
              <div class="flex-auto">
                <label for="start">Start time :</label>
                <input
                  type="time"
                  name="start"
                  class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                  required
                />
              </div>
              <div class="flex-auto">
                <label for="start">End time :</label>
                <input
                  type="time"
                  name="end"
                  class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                  required
                />
              </div>
              <div class="flex-none">
                <br>
                <button
                  type="submit"
                  class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2"
                >
                Add
                </button>
              </div>
          </div>               
            <table border="5">
                <tr>
                  <th>Appointment</th>
                  <th>Start time</th>
                  <th>End time</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                <% for(var i = 0; i < allAppointments.length; i++) { %>
                  <tr>
                    <td><%= allAppointments[i].title %></td>
                    <td><%= allAppointments[i].start %></td>
                    <td><%= allAppointments[i].end %></td> 
                    <td><a href="/appointments/<%=allAppointments[i].id%>/edit">Edit</a>
                      </td>
                    <td><a onclick="deleteAppointment(<%=allAppointments[i].id%>)" class="text-sm cursor-pointer">Delete</a>
                      </td>
                  </tr>
                <% }  %>
              </table>
        </form>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <p class="bg-red-200 my-3 list-none rounded px-4 py-2"><%= messages.error[i] %></p>
            <a onclick="deleteAppointment(<%=allAppointments[i].id%>); buttonClickFunc() "  class="text-sm cursor-pointer">Delete & Add</a>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>