<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/style.css" rel="stylesheet" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <body >
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <h5 class="text-4xl flex items-center">Welcome <%= userName %></h5>
        <br>
        <a href="/signout" class="bg-red-600 text-white px-4 py-1 rounded font-medium mr-2 mb-2" > Signout</a>
        <br>
        <br>
        <p>Manage your appointments</p>
        <form action="/appointments" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
                <label for="title">Appointment :</label>
                <input
                  type="text"
                  name="title"
                  placeholder="Enter your appointment..."
                  class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
                  required
                />
              </div>
              <div class="flex-auto">
                <label for="start">Start time :</label>
                <input
                  type="time"
                  name="start"
                  class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                  required
                />
              </div>
              <div class="flex-auto">
                <label for="start">End time :</label>
                <input
                  type="time"
                  name="end"
                  class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                  required
                />
              </div>
              <div class="flex-none">
                <br>
                <button
                  type="submit"
                  class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2"
                >
                Add
                </button>
              </div>
          </div>
          <% for(var i = 0; i < allAppointments.length; i++) { %>
            <%= allAppointments[i].title %> <%= allAppointments[i].start %> <%= allAppointments[i].end %>
            <br>
            <% } %>
        </form>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <p class="bg-red-200 my-3 list-none rounded px-4 py-2"><%= messages.error[i] %></p>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>